# Python / Django
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv/
env/
venv/
ENV/
.env

# Database
db.sqlite3
db.sqlite3-journal

# Uploaded Media (Resumes, etc.)
media/

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
